.aboutFirstProj {
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(157, 197, 163);
    border: 1px outset rgb(50, 132, 74);
    border-radius: 5px;
    border-width: 3px;
  }
  .aboutProjText {
    flex: 1;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .publishDate {
    margin-top: 0px;
  }