.aboutFirstProj {
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(157, 197, 163);
    border: 1px outset rgb(50, 132, 74);
    border-radius: 5px;
    border-width: 3px;
  }
  .aboutProjText {
    flex: 1;
    margin-left: 20px;
    margin-right: 20px;
  }

  .comments{
    background: rgb(187, 207, 203);
    width: 50%;
    padding: 0 20px 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    font-weight: lighter;
  }
  
  .publishDate {
    margin-top: 0px;
  }

  
.comments{
  background: rgb(129, 163, 132);
  width: 50%;
  padding: 0 20px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  font-weight: lighter;
}

.user{
  font-weight: bold;
}

.blogImage{
  margin: 30px;
}