.aboutFirstProj {
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(157, 197, 163);
    border: 1px outset rgb(50, 132, 74);
    border-radius: 5px;
    border-width: 3px;
  }
  .aboutProjText {
    flex: 1;
    margin-left: 20px;
    margin-right: 20px;
  }

  .comments{
    background: rgb(207, 248, 207);
    width: 70%;
    padding: 0 20px 20px 20px;
    margin:auto;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
  }
  
  .publishDate {
    margin-top: 0px;
  }

  .commentForm{
    background: rgba(90, 148, 115, 0.164);
    height: 180px;
    padding: 30px;
    margin-top: 30px;
  }

  .userComment{
    width: 100%;
    height: 50px;
    background: none;
    outline: none;
    resize: none;
  }
  
  .userName{
    width: 100%;
    background: none;
    outline: none;
    resize: none;
  }

  .load{
    text-align:center;
  }


.user{
  font-weight: bold;
  text-decoration: underline;
}

.blogImage{
  margin: 30px;
}